html{
    scroll-behavior: smooth;
}
body {
    /*min-height: 100vh; /* Visina cele stranice – 100% visine vidljivog ekrana (viewport height) */
    margin: 0px; /* Uklanja podrazumevani margin body elementa */
    padding: 0px;
    background-color: #0b043a; /* Postavlja linearni gradient sa uglom 135 stepeni, izmedju dve HEX boje */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*overflow: hidden; /* Sakriva sve što "štrči" van tela stranice (npr. elipsa blur) */
    position: relative; /* Omogućava da se deca pozicioniraju relativno u odnosu na body (kao što je elipsa) */
    font-family: 'Poppins', sans-serif; /* Postavlja Poppins kao glavni font */
    color: #ededed;/* Svetlosiva boja slova */
    text-align: center;
    /* display: flex;
    justify-content: center; /* horizontalno centriranje 
    align-items:  center; /* vertikalno centriranje 
    flex-direction: column; */
}
.header {
    position: relative; /* Potrebno za ::before da zna gde je */
    z-index: 1; /* Da bi sadržaj bio iznad slike */
    border-bottom: 3px solid #ededed;
}    
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../pic/Hero SLika.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.2; /* Samo slika je providna */
    z-index: -1; /* Iza svega */
}       
/* .page{ */
    /* border: 1px solid #ededed; */
/* } */
.footer {
    position: relative; /* Potrebno za ::before da zna gde je */
    z-index: 1; /* Da bi sadržaj bio iznad slike */
    border-top: 3px solid #ededed;
}    
.footer::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../pic/Hero SLika.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.2; /* Samo slika je providna */
    z-index: -1; /* Iza svega */
}
.footer .column{
    display: flex;        
}
.footer .footer-column {
    flex-grow: 1;
    flex-basis: 0;
    padding-top: 20px;
    padding-bottom: 50px;
} 
.footer a {
    text-decoration: none;
    font-size: 18;
    color: #ededed;
    font-weight: 500;
}
.footer a:hover { 
    text-decoration: underline;
}
.column{
    /*border: 1px solid #ededed; */
    width: 1000px;
    margin: 0px auto;
}
.page .column {
    height: 100vh;
}
#logo-i-social {
    display: flex;
    z-index: 1;
}
#logo-holder {
    flex-grow: 1;
    text-align: left;
    margin: 10px;
}
#logo-holder img:hover {
    transition: transform 0.4s;
    transform: scale(1.2);
}
#social-holder {
    display: flex;
    text-align: right;
    margin: 10px;
    gap: 20px;
}
#social-holder a img {
    width: 24px;
    height: auto;
    transition: transform 0.4s ;
}
#social-holder a img:hover {
    transform: scale(1.2) ;
}
#main-menu {
    display: flex;  
    justify-content: space-between;
    margin: 10px;
    z-index: 0;
}
#main-menu a {
    flex: grow 1; 
    text-align: center;
    display: block;
    font-family: 'Montserrat', sans-serif; /* Postavlja Poppins kao glavni font */
    font-size:large;
    font-weight: 700;
    text-decoration: none;
    color: #ededed;
    transition: 0.4s;
}
#main-menu a:hover,
#main-menu a.active {
    background: #ededed ;
    color: #0b043a;
}
#pocetna {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-attachment: fixed;
    text-align: center;
}
#pocetna::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../pic/FullStack.jpg");
    background-size: cover; /* ✅ Pravilno razvučeno */
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    opacity: 0.2;
    content: "";
}   
#pocetna h1 {
    font-family: 'Montserrat', sans-serif; /* Postavlja Poppins kao glavni font */
    font-size: 42px;
    font-weight: 900;
    margin-top: 0px;
    padding-top: calc( 50vh - 250px );
}
.dark-box{
    font-family: 'Poppins', sans-serif; /* Postavlja Poppins kao glavni font */
    font-size: 24px;
    border: #ededed;
    background-color: #99999915;
    padding: 40px;
}
#usluge {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-attachment: fixed;
    text-align: center;
}
#usluge::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../pic/FrontEnd.jpg");
    background-size: cover; /* ✅ Pravilno razvučeno */
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    opacity: 0.2;
    content: "";
}
#karijera {
        position: relative;
        z-index: 1;
        overflow: hidden;
        background-attachment: fixed;
        text-align: center;
}        
#karijera::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../pic/3DDesign.jpg");
        background-size: cover; /* ✅ Pravilno razvučeno */
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        opacity: 0.2;
        content: "";
}
.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.krugovi{
    display : flex;
    margin: 100px 0;
}
.krug-holder{
    flex-grow: 1;
    text-align: center;
}
.krug{
    display: inline-block;
    padding:25%;
    border: 1px solid  black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #FF6F00;
    color:	#0D5E71 ;
    font-family: 'Montserrat', sans-serif; /* Postavlja Montserat kao font */
    font-size: 32px;
    font-weight: 700;
}
.oznaka {
    font-family: 'Poppins', sans-serif; /* Postavlja Montserat kao font */
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
.technologies{
    margin: 100px 0;
    display : flex;
    
}
.tehnologija{
    flex-grow: 1;
    text-align: center;
}
.tehnologija img{
    width: 48px;
    height: auto;
}
.tehnologija p{
    text-align: center;
    font-weight: bold;
}
.service-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;

 
}
.service-row > div {
    border: solid 1px #ededed;
    position: relative;
    width: 300px;
    height: auto;
    transition: transform 0.3s ease;
}
.service-row > div > img {
    width: 100%;
    height: auto;
    display: block;
    
}
.service-row > div > p {
    border-top: solid 1px #ededed;
    position: absolute;
    left: 0px;
    right: 0px;    
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif; /* Postavlja Poppins kao glavni font */
    font-size: 16px;
    background-color: #ffffffa2;
    color: #0D5E71;
    font-weight: 700;
}
.service-row > div > a {
    border-top: solid 1px #ededed;
    position: absolute;
    left: 0px;
    right: 0px;    
    bottom: 0px;
    padding: 10px;
    font-family: 'Poppins', sans-serif; /* Postavlja Poppins kao glavni font */
    font-size: 16px;
    background-color: #ffffffa2;
    color: #0D5E71;
    text-decoration: none;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}
.service-row > div > a,
    .service-row > div > a.font:link,
    .service-row > div > a.font:visited,
    .service-row > div > a.font:hover,
    .service-row > div > a.font:active{
        color: #0D5E71;
        text-decoration: none;
}
.service-row > div:hover{
    transform: scale(1.1);
 }
 #proizvodi h2{
    padding-top:50px;
    font-weight: 700;
 }
 .matrica{
    margin-top: 40px;
    height: 500px;
    display: grid;
    grid-template : "a b c"
                    "d b e"
                    "f f g";
    align-content: space-between;
    justify-content: space-between;
 }
 .matrica > img{
    width:100%;
    height: auto;
 }
 #proizvod-a1{
    grid-area: a;
 }
 #proizvod-b2{
    grid-area: b;

 }
 #proizvod-c3{
    grid-area: c;

 }
 #proizvod-d4{
    grid-area: d;

 }
 #proizvod-e5{
    grid-area: e;

 }
 #proizvod-f6{
    grid-area: f;
    
 }
 #proizvod-g7{
    grid-area: g;
 }
 .proizvod{
    display: grid;
    grid-template: "region";
    align-content: stretch;
    justify-content: stretch;
 }
 .proizvod img {
    grid-area: region;
    justify-self: center;
    align-self: top;
 }
 .proizvod .text-holder {
    grid-area: region;
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 900;
    background-color:#0D5E71dd;
    opacity: 0.0;
    transition: 500ms;
 }
 .proizvod:hover .text-holder{
    opacity: 1;
 }
 #karijera h2{
    padding-top: 50px;
 }
 .career-columns{
    display: flex;   
 }
 .job-list{
    flex-grow: 1;
    flex-basis: 0;
 }
 .job-descriptions{
    flex-grow: 2;
    flex-basis: 0;
 }
.job-list label{ 
    display: block;
    margin-bottom:10px;
    border: 2px solid #ffffff;
    background-color: #ededed90;
    padding: 5px;
    font-weight: 700;
}
.job-descriptions input {
    display: none;
}
.job-descriptions .job-opis {
    display: none;
}
.job-descriptions input:checked+.job-opis {
    display: block;
}
.job-opis{
    display: block;
    margin-left:10px;
    border: 2px solid #ffffff;
    background-color: #ededed90;
    color: #323232;
    padding: 5px;
    font-weight: 500;
    font-size: 20;
    text-align: left;
}
#kontakt h2{
    padding: 80px 0px 40px 0px;
}
.kontak-region{
    display: grid;
    grid-template: "adrese mapa"
                    "mailovi mapa";
    grid-template-columns: 300px 1fr;
}
.kontakt-adrese{
    text-align: left;
    grid-area: adrese;
    padding-bottom: 15px;
    font-size: 14px;
}
.kontakt-mailovi{
    grid-area: mailovi;
    text-align: left;
    font-size: 14px;
}
.kontakt-mailovi a {
    text-decoration: none;
    color: #ededed;
}
.kontakt-mailovi a:hover{
    color: #FF6F00;
    text-decoration: underline;
}
.kontakt-mapa{
    grid-area: mapa;
}